.offer-section {
    background-color: #274C5B;
}

.card {
    width: fit-content;
}
.product-item {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.product-title {
    color: white;
    font-size: 1.1rem;
}