.footer {
  background-color: white;
  color: var(--color-primary);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}

.Home__logo {
  width: 140px;
  margin-bottom: 14px;
}

.start-column {
  flex-basis: calc(30% - 35px);
  padding: 0 2px;
  text-align: end;
}

.center-column {
  flex-basis: calc(40%);
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.end-column {
  flex-basis: calc(30% - 40px);
  padding: 0 2px;

}

.footer h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.icon-container {
  padding: 10px 15px;
  border-radius: 50%;
  margin: 4px;
  background-color: #EFF6F1;
}

.footer-text {
  text-align: center;
  border-top: 1px solid #D4D4D4;
  font-size: 0.9rem;

}

@media (max-width: 798px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .center-column {
    padding: 20px 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: none;
    border-left: none;
  }
  .start-column {
    text-align: center;
  }
  .end-column {
    padding-top: 30px;
    text-align: center;

  }
}