.about_container {
  display: flex;
  flex-direction: row;
}

.img-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 75%;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 60px 0;
}

.text-container p {
  color: #525c60cf;
  font-weight: 400;
}

h5 {
  padding: 0;
  margin: 0;
  color: var(--color-primary);
  font-weight: 700;
}

.about-tag {
  margin-bottom: 0px;
  width: 70%;
}

.about-tag h4 {
  color: var(--color-primary);
}

.heading {
  padding: 20px 20px;
  background-color: #ececec;
  border-radius: 40px;
}

@media (max-width: 1090px) {
  .img-container img {
    display: none;
    width: 0;
  }
  .about-tag img {
    width: 40;
    height: 70px;
    margin-top: 10px;
  }
  .text-container {
    width: 70%;
  }
  .about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container {
    width: 0%;
  }
}

@media (max-width: 445px) {
  .about-tag img {
    display: none;
  }
  .text-container {
    margin-top: 0px;
    padding: 0;
  }
}

.product-item {
  border-radius: 25px;
  border: none;
}

.product-tag {
  background-color: var(--color-primary);
}
.product-title {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.product-image {
  height: auto;
  width: 40px;
}

.image-container {
  padding: 22px;
  width: fit-content;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.text {
  font-weight: 200;
  text-align: center;
  width: fit-content;
}

.card {
  margin: 0.5rem 0;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  width: 20vw;
  min-width: 17rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.126);
  transition: box-shadow 0.3s ease;
  cursor: default;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}

.card img { 
    margin-right: 20px;
}

@media (max-width: 1200px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card img {
    padding-bottom: 15px;
  }
  .contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}


.icon-container {
    padding: 10px 15px;
    border-radius: 50%;
    margin: 4px;
    background-color: #EFF6F1;
  }