.checkout-container h2 {
  color: #007BFF ;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 35px;
}

.form-control label {
  color: var(--color-primary)
}

.form-control input::placeholder{
  color: #ABABAB;
  font-size: 0.9rem;
  font-style: italic;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  float: left;
  padding-bottom: 7px;
  font-size: 0.9rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #7EB693;
  max-width: 100%;
  background-color: transparent;
  color: var(--color-primary);
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #FBE8D2;
}


button {
  font: inherit;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid  var(--color-primary);
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.cancel-button {
  border-color: #b40e0e;
  background-color: #b40e0e;
}

.cancel-button:hover {
  background-color: #b40e0e;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  margin-bottom: 20px;
  float: left;
  padding-left: 5px;
  margin-top: 0px;
}


